body {
  margin: 0;
  background: rgb(255, 255, 255);
  color: white;
}

.box-white {
  border: 5px solid rgb(255, 255, 255);
  padding: 5px;
  max-width: 600px;
  justify-content: center;
  background: rgb(156, 5, 5);
}
.box-black {
  border: 5px solid rgb(0, 0, 0);
  padding: 5px;
  max-width: 600px;
  justify-content: center;
  background: rgb(156, 5, 5);
}

.flex {
  display: flex;
}

.container {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.userName-red {
  color: red;
}

.userName-white {
  color: white;
}

.background-red {
  background: red;
}
